<!--<div>
  {{ vm.name }}
</div>-->


<!-- Outer Wrapper-->
<div class="outer-wrapper">

    <!-- Inner Wrapper -->
    <div class="inner-wrapper">

        <!-- Navigation-->
        <!--<div class="row">
            <header class="header">
                <div class="wrapper">
                    <div class="brand">
                        <div class="wrapper">
                            <div class="toggle-navigation">
                                <div class="icon">
                                    <div class="line"></div>
                                    <div class="line"></div>
                                    <div class="line"></div>
                                </div>
                            </div>
                            <a href="/#/">
                                <img src="assets/images/boas-opcoes-logo.png" alt="logo">
                            </a>
                        </div>
                    </div>
                    <div class="navigation-items">
                        <div class="wrapper">
                            <ul class="main-navigation navigation-top-header"></ul>
                            <ul class="user-area">
                                <li><a href="register.html"><strong>Entrar</strong></a></li>
                            </ul>
                            <a href="submit.html" class="submit-item">
                                <div class="content">
                                    <span>Registre-se</span>
                                </div>
                                <div class="icon">
                                    <i class="fa fa-user"></i>
                                </div>
                            </a>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <acme-navbar creation-date="main.creationDate"></acme-navbar>
                </div>
            </header>
        </div>
    </div>-->
    <!-- end Navigation-->

    <!--Área central-->
    <section id="main">
        <article>
            <div class="row">
                <div class="div_central">
                    <p class="row fluid lead txt_logo">
                        <img src="assets/images/boas-opcoes-logo.png" alt="Boas Opções">
                        <h1 class="h1-slogan">
                            Encontre os <strong class="highlight">melhores preços</strong><br>só em <strong class="highlight">lojas confiáveis</strong>:
                        </h1>
                    </p>
                    <!--input de busca-->
                    <div class="container">
                        <div class="row">
                            <!--<div class="col-sm-6 col-sm-offset-3">-->
                            <div class="col-sm-8 col-sm-offset-1 text-center">

                                <form class="main-search border-less-inputs background-dark narrow inputs-3" role="form" method="post" action="?">
                                    <div class="input-row">
                                        <div class="form-group">
                                            <label for="keyword">Palavra Chave</label>
                                            <input type="text" class="form-control" id="keyword" placeholder="Palavra Chave">
                                        </div>
                                        <!-- /.form-group -->
                                        <div class="form-group">
                                            <label for="model">Tipo de lugar</label>
                                            <select name="model1" id="model1" multiple="" title="Qualquer" data-live-search="false" style="display: none;">
                                                <option value="1">Restaurant</option>
                                                <option value="2">Vegetarian</option>
                                                <option value="3">Bar</option>
                                                <option value="4">Night Life</option>
                                                <option value="5">Breakfast</option>
                                                <option value="6">Fast Food</option>
                                                <option value="7">Steak &amp; Grill</option>
                                            </select>
                                            <div class="btn-group bootstrap-select show-tick">
                                                <button type="button" class="btn dropdown-toggle selectpicker btn-default" data-toggle="dropdown" data-id="model" title="Qualquer"><span class="filter-option pull-left">Qualquer</span>&nbsp;<span class="caret"></span>
                                            </button>
                                                <!--<div class="dropdown-menu open animation-fade-in" style="/* max-height: 230px; */ /* overflow: hidden; */ /* min-height: 159px; */">
                                                    <div class="bootstrap-select-searchbox"><input type="text" class="input-block-level form-control"></div>
                                                    <ul class="dropdown-menu inner selectpicker animation-fade-in" role="menu" style="max-height: 183px; overflow-y: auto; min-height: 112px;">
                                                        <li rel="0" class=""><a tabindex="0" class="" style=""><span class="text">Restaurant</span><i class="glyphicon glyphicon-ok icon-ok check-mark"></i></a></li>
                                                        <li rel="1" class=""><a tabindex="0" class="" style=""><span class="text">Vegetarian</span><i class="glyphicon glyphicon-ok icon-ok check-mark"></i></a></li>
                                                        <li rel="2" class=""><a tabindex="0" class="" style=""><span class="text">Bar</span><i class="glyphicon glyphicon-ok icon-ok check-mark"></i></a></li>
                                                        <li rel="3" class=""><a tabindex="0" class="" style=""><span class="text">Night Life</span><i class="glyphicon glyphicon-ok icon-ok check-mark"></i></a></li>
                                                        <li rel="4" class=""><a tabindex="0" class="" style=""><span class="text">Breakfast</span><i class="glyphicon glyphicon-ok icon-ok check-mark"></i></a></li>
                                                        <li rel="5"><a tabindex="0" class="" style=""><span class="text">Fast Food</span><i class="glyphicon glyphicon-ok icon-ok check-mark"></i></a></li>
                                                        <li rel="6"><a tabindex="0" class="" style=""><span class="text">Steak &amp; Grill</span><i class="glyphicon glyphicon-ok icon-ok check-mark"></i></a></li>
                                                    </ul>
                                                </div>-->
                                            </div>
                                        </div>
                                        <!-- /.form-group -->
                                        <div class="form-group">
                                            <label for="location">Localização</label>
                                            <div class="input-group location">
                                                <input type="text" class="form-control" id="location" placeholder="Ex: Braília-DF" autocomplete="off">
                                            </div>
                                        </div>
                                        <!-- /.form-group -->
                                        <div class="form-group" style="">
                                            <button type="submit" class="btn btn-default" style="margin-top: 20px;"><i class="fa fa-search"></i></button>
                                        </div>
                                        <!-- /.form-group -->
                                    </div>
                                </form>
                                <!-- /.main-search -->
                            </div>
                        </div>
                    </div>

                    <!--<div class="div_search">
                    <div class="row">
                        <div class="col-sm-6 col-sm-offset-3">
                            <div id="imaginary_container">
                                <div class="input-group stylish-input-group">
                                    <input type="text" class="form-control" placeholder="Procure por empresas e profissionais de todos os ramos ...">
                                    <span class="input-group-addon">
                                        <button type="submit">
                                            <span class="glyphicon glyphicon-search"></span>
                                    </button>
                                    </span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>-->
                </div>
            </div>
        </article>
    </section>

    <!--lista de categorias-->

    <section id="categorias" class="block">
        <div class="container">
            <div class="row">
                <!--<div class="col-sm-6 col-sm-offset-3">-->
                <header>
                    <h2>Categorias</h2>

                    <div class="col-md-2  pull-left text-center">
                        <a href="#" title="Automotivo"><i  class="fa fa-car fa-3x" aria-hidden="true" style="color: #BD3518;"></i></a>
                        <div class="home-category-name">Automotivo</div>
                    </div>
                    <div class="col-md-2  pull-left text-center">
                        <a href="#" class="" title="Restaurante"><i class="fa fa-cutlery fa-3x" aria-hidden="true" style="color: #F56505;"></i></a>
                        <div class="home-category-name">Restaurantes</div>
                    </div>
                    <div class="col-md-2  pull-left text-center">
                        <a href="#" class="" title="Cafés e comidinhas"><i class="fa fa-coffee fa-3x" aria-hidden="true" style="color: #3B5998;"></i></a>
                        <div class="home-category-name">Cafés e Comidinhas</div>
                    </div>

                    <div class="col-md-2  pull-left text-center">
                        <a href="#" class="" title="Hoteis"><i class="fa fa-suitcase fa-3x" aria-hidden="true" style="color: #33ccff;"></i></a>
                        <div class="home-category-name">Hoteis</div>
                    </div>

                    <div class="col-md-2  pull-left text-center">
                        <a href="#" class="" title="Shoppings"><i class="fa fa-cart-arrow-down fa-3x" aria-hidden="true" style="color: #238E23;"></i></a>
                        <div class="home-category-name">Shoppings</div>
                    </div>

                    <div class="col-md-2  pull-left text-center">
                        <a href="#" class="" title="Ver mais"><i class="fa fa-asterisk fa-3x" aria-hidden="true" style="color: #007bb7;"></i></a>
                        <div class="home-category-name">Ver mais</div>
                    </div>

                    <!--<ul class="category-field list-category">
                            <li><a href="#" class="" title="Automotivo"><i class="fa fa-car"></i></a>
                                <div class="home-category-name">Automotivo</div>
                            </li>
                            <li><a href="#" class="" title="Restaurante"><i class="fa fa-cutlery"></i></a>
                                <div class="home-category-name">Restaurantes</div>
                            </li>
                            <li><a href="#" class="" title="Cafés e comidinhas"><i class="fa fa-coffee"></i></a>
                                <div class="home-category-name">Cafés e Comidinhas</div>
                            </li>
                            <li><a href="#" class="" title="Hoteis"><i class="fa fa-suitcase"></i></a>
                                <div class="home-category-name">Hoteis</div>
                            </li>
                            <li><a href="#" class="" title="Shoppings"><i class="fa fa-cart-arrow-down"></i></a>
                                <div class="home-category-name">Shoppings</div>
                            </li>
                            <li><a href="#" class="" title="Pontos turísticos"><i class="fa fa-map-marker"></i></a>
                                <div class="home-category-name">Pontos Turísticos</div>
                            </li>
                            <li><a href="#" class="" title="Ver mais"><i class="fa fa-asterisk"></i></a>
                                <div class="home-category-name">Ver mais</div>
                            </li>
                        </ul>-->

            </div>
            </header>
        </div>
</div>
</div>
</section>


<!--<aside id="lista-categorias">
        <div class="row" style="padding-bottom: 20px;">
            <div class="col-md-12">
                <ul class="category-field list-category">
                    <li><a href="#" class="" title="Automotivo"><i class="fa fa-car"></i></a>
                        <div class="home-category-name">Automotivo</div>
                    </li>
                    <li><a href="#" class="" title="Restaurante"><i class="fa fa-cutlery"></i></a>
                        <div class="home-category-name">Restaurantes</div>
                    </li>
                    <li><a href="#" class="" title="Cafés e comidinhas"><i class="fa fa-coffee"></i></a>
                        <div class="home-category-name">Cafés e Comidinhas</div>
                    </li>
                    <li><a href="#" class="" title="Hoteis"><i class="fa fa-suitcase"></i></a>
                        <div class="home-category-name">Hoteis</div>
                    </li>
                    <li><a href="#" class="" title="Shoppings"><i class="fa fa-cart-arrow-down"></i></a>
                        <div class="home-category-name">Shoppings</div>
                    </li>
                    <li><a href="#" class="" title="Pontos turísticos"><i class="fa fa-map-marker"></i></a>
                        <div class="home-category-name">Pontos Turísticos</div>
                    </li>
                    <li><a href="#" class="" title="Ver mais"><i class="fa fa-asterisk"></i></a>
                        <div class="home-category-name">Ver mais</div>
                    </li>
                </ul>
            </div>
        </div>
    </aside>-->

<!--footer-->
<footer class="footer">
    <div class="footer-top">
        <div class="container">
            <div class="row">
                <div class="col-md-3 col-sm-6 footer_widget widget widget_newsletter">
                    <h4 class="widgettitle">Receba novidades</h4>
                    <form>
                        <input type="text" class="form-control" placeholder="Name" name="" value="">
                        <input type="email" class="form-control" placeholder="Email" name="" value="">
                        <input type="submit" class="btn btn-primary btn-lg" name="" value="Inscreva-se">
                    </form>
                </div>
                <div class="col-md-2 col-sm-6 footer_widget widget widget_custom_menu widget_links">
                    <h4 class="widgettitle">Destaques</h4>
                    <ul>
                        <li><a href="blog.html"><i class="fa fa-angle-right"></i> Empresas novas</a></li>
                        <li><a href="blog-masonry.html"><i class="fa fa-angle-right"></i> Novos profissionais</a></li>
                        <li><a href="about.html"><i class="fa fa-angle-right"></i> Empresas Top 10</a></li>
                        <li><a href="about-html"><i class="fa fa-angle-right"></i> Profissionais Top 10</a></li>
                    </ul>
                </div>
                <div class="col-md-2 col-sm-6 footer_widget widget widget_custom_menu widget_links">
                    <h4 class="widgettitle">Profissionais</h4>
                    <ul>
                        <li><a href="blog.html"><i class="fa fa-angle-right"></i> Top 10 profissionais</a></li>
                        <li><a href="blog-masonry.html"><i class="fa fa-angle-right"></i> Novos profissionais</a></li>
                        <li><a href="about.html"><i class="fa fa-angle-right"></i> Recutre</a></li>
                        <li><a href="about-html"><i class="fa fa-angle-right"></i> Profissionais DF</a></li>
                    </ul>
                </div>

                <div class="col-md-5 col-sm-6 footer_widget widget text_widget">
                    <h4 class="widgettitle">Sobre nós</h4>
                    <p>Nós nos dedicamos a encontrar as melhores empresas e profissionais e torna-los disponiveis pra vocês
                        atraves do nosso banco de dados.</p>
                </div>
            </div>
        </div>

    </div>
    <div class="footer-bottom">
        <div class="container">
            <div class="row">
                <div class="col-md-6 col-sm-6 copyrights-left">
                    <div class="lovers">
                        <ul class="social-network social-circle">
                            <li><a href="#" class="icoRss" title="Rss"><i class="fa fa-rss"></i></a></li>
                            <li><a href="#" class="icoFacebook" title="Facebook"><i class="fa fa-facebook"></i></a></li>
                            <li><a href="#" class="icoTwitter" title="Twitter"><i class="fa fa-twitter"></i></a></li>
                            <li><a href="#" class="icoGoogle" title="Google +"><i class="fa fa-google-plus"></i></a></li>
                            <li><a href="#" class="icoLinkedin" title="Linkedin"><i class="fa fa-linkedin"></i></a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-md-6 col-sm-6 copyrights-right">
                    <p class="terms">
                        O uso deste site está sujeito aos termos e condições do <a href="/corp/termofuse.jsp"> Termo de Uso</a>                        e
                        <a href="/corp/privacy.jsp">Política de privacidade</a>.
                        <span class="rights">© Boas Opções. Todos os direitos reservados.</span>
                    </p>
                </div>
            </div>
        </div>
    </div>

</footer>
</div>
</div>

</div>